version: "3.9"

services:
  db:
    image: docker.io/library/postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: flask_app
    depends_on:
      - db
    ports:
      - "5000:5000"

volumes:
  db_data:

